/* buttons.css */

.my-button {
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor:pointer;
}

button:enabled {
    cursor: pointer;
    background-color: #f4567b;
    border-color: #b65269;
}

button:disabled {
    background-color: #f3849e;
    border-color: #b65269;
    cursor: auto;
}

/* Dropdowns */
.myDropdown {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid black;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s;
}

/* Logout button */
.logout-form {
    margin-top: auto;
}

.logout-form button {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-form button:hover {
    background-color: #f46f8f;
    color: #f5f5f5;
}

.logout-form button:hover {
    background-color: #f46f8f;
    color: #f5f5f5;
}
