/* buttons.css */

.my-button {
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor:pointer;
}

.login-button {
    margin-top: 10px;
    padding: 4px 32px;
    border: 2px solid black;
    background-color: #ffd1dc;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.3s;
}

button:enabled {
    cursor: pointer;
    background-color: #f46f8f;
    border-color: #b65269;
}

button:disabled {
    background-color: #fc9eb4;
    border-color: #f46f8f;
    cursor: auto;
}

/* Dropdowns */
.myDropdown {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid black;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s;
}

/* Logout button */
.logout-form {
    margin-top: auto;
}

.logout-form button {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-form button:hover {
    background-color: #f46f8f;
    color: #f5f5f5;
}

.logout-form button:hover {
    background-color: #f46f8f;
    color: #f5f5f5;
}

#palette-options-panel .delete-button {
    background-color: transparent; /* use transparent, not none */
    border: none;
    color: #dc3545; /* optional: match your theme */
    cursor: pointer; /* nice UX */
    font-weight: bold;
    font-family: 'Nunito', sans-serif !important;
    padding: 0;
    font-size: 16px;
}
