/* sidenav.css */

.sidenav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
    margin-right: 10px;
}

.sidenav .nav-btn {
    padding: 8px 16px;
    border: 2px solid black;
    background-color: #ffd1dc;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: background-color 0.3s;
}

.sidenav .nav-btn:hover {
    background-color: #f46f8f;
    color: #f5f5f5;
}

.sidenav .nav-btn.active {
    background-color: #f46f8f;
    color: #f5f5f5;
}
