{% extends "base_logged_in.html" %}

{% block title %}Palettes{% endblock %}

{% block content %}
<div class="palettes-grid">
    {% for palette in palettes %}
        <div class="palette-box">
            <div class="palette-title">
                <h3>{{ palette['palette_name'] }}</h3>
            </div>
            <div class="palette-colors">
                {% for color in palette_colors[palette['palette_name']] %}
                    <div class="color-box" style="--box-color: {{ color }};"></div>
                {% endfor %}
            </div>
        </div>
        
    {% endfor %}
</div>

<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('palettes', page=page-1)}}">Previous</a>
    {% endif %}

    Page {{ page }} of {{ total_pages }}

    {% if page < total_pages %}
        <a href="{{ url_for('palettes', page=page+1)}}">Next</a>
    {% endif %}
</div>
{% endblock %}